/* @bg: #24252D;
@bg2: #2f313b;
@font: #CACACC;
@subfont: #696A6F;
@pink: #EB4888;
@green: #24D05A;
@yellow: #E9BC3F;
@blue: #10A2F5; */

body {
  background: #24252D;
  color: #CACACC;
  font-family: 'Roboto Mono', monospace;
  font-size: .9em;
  display: flex;
  justify-content: center;
}

.container {
  padding-top: 10%;
  max-width: 300px;
  margin: 0 0 2em 0;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #696A6F;
  font-weight: 300;
  margin: 0 0 .5em 0;
}

.links {
  display: flex;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
  padding: 0;
  
}

ul li::before {
  content: '·';
  display: inline-block;
  border-radius: 100%;
  margin: 0 1em 0 0em; 
  font-weight: bold;
  font-size: 2em;
  vertical-align: middle;
  line-height: 20px;
}

.green li::before {
  color: #24D05A;
}



.pink li::before {
  color: #EB4888;
}

.yellow li::before {
  color: #E9BC3F;
}

.blue li::before {
  color: #10A2F5;
}

/* li {
  margin: 2em 0;
} */

a {
  color: #CACACC;
  text-decoration: none;
}

a:hover {
  color: #E9BC3F;
}
